<template>
  <div class="my-checkbox">
    <input
      type="checkbox"
      :id="boxId"
      :checked="checked ? 'checked' : ''"
      @change="change"
    />
    <label :for="boxId">
      <div class="check">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-check"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
      </div>
      {{ placeholder }}
    </label>
  </div>
</template>
<script>
export default {
  name: "autocomplete",
  props: {
    placeholder: String,
    boxId: String,
    checked: Boolean,
    value: String,
  },
  data() {
    return {
      //   item: {},
      optionsShow: false,
    };
  },
  methods: {
    change(e) {
      if (this.value) {
        this.$emit("change", value);
      } else {
        this.$emit("change", e.target.checked);
      }
    },
    selected: function (item) {},
  },
};
</script>
