<template>
  <div class="my-select" v-click-outside="hide">
    <div
      class="label"
      :class="!select ? 'placeholder' : ''"
      @click.self="optionsShow = !optionsShow"
    >
      <template v-if="select != null">
        {{ select }}
      </template>
      <template v-else>
        {{ placeholder }}
      </template>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-chevron-down"
      @click.self="optionsShow = !optionsShow"
    >
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
    <div class="list">
      <vue-slide-up-down class="options" :active="optionsShow == true">
        <ul>
          <li @click="selected(ind)" v-for="(i, ind) of items" :key="ind">
            {{ i }}
          </li>
        </ul>
      </vue-slide-up-down>
    </div>
  </div>
</template>
<script>
import ClickOutside from "vue-click-outside";
export default {
  name: "autocomplete",
  props: ["placeholder", "select", "items"],
  data() {
    return {
      //   item: {},
      optionsShow: false,
    };
  },
  directives: {
    ClickOutside,
  },
  mounted() {},
  methods: {
    hide() {
      this.$set(this, "optionsShow", false);
    },
    selected: function (item) {
      // this.$set(this, "select", this.items[item]);
      this.$set(this, "optionsShow", false);
      this.$emit("selected", item);
    },
  },
};
</script>
<style lang="scss" scoped>
.my-select {
  width: 100%;
  color: #000;
  background: #eaecef;
  border: 1px solid #eaecef;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  padding: 0px 16px;
  height: 30px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  flex-wrap: wrap;
  svg {
    stroke: var(--color-blue);
  }
  .label {
    flex: 1;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    &.placeholder {
      opacity: 0.4;
    }
  }
  .list {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 30px;
    z-index: 2;
    ul {
      position: relative;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 15px 0;
      background: #ffffff;
      box-shadow: 0px 4px 8px rgba(16, 19, 26, 0.15);
      border-radius: 21px;
      list-style: none;
      max-height: 400px;
      overflow-y: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        padding: 10px 16px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: rgba(234, 236, 239, 0.5);
        }
      }
    }
  }
}
</style>
