<template>
  <div id="main">
    <b-navbar toggleable type="dark" variant="dark">
      <b-navbar-brand href="#"></b-navbar-brand>

      <b-navbar-toggle target="navbar-toggle-collapse">
        <template #default="{ expanded }">
          <b-icon v-if="expanded" icon="gear-fill"></b-icon>
          <b-icon v-else icon="gear-fill"></b-icon>
        </template>
      </b-navbar-toggle>

      <b-collapse id="navbar-toggle-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item><NuxtLink to="/">  Дашбоард </NuxtLink></b-nav-item>
          <b-nav-item><NuxtLink to="/tabel"> Табель </NuxtLink></b-nav-item>
          <b-nav-item><NuxtLink to="/users"> Штатное расписание </NuxtLink></b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <nuxt />
  </div>
</template>

<script>

export default {
  components: {
  },
  data() {
    return {
      sidebarIsVisible: false,
    };
  },
  methods: {
  },
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none;
}
.container{
   max-width: 100%;
}
body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 15px;
  color: #343434;
  --color-blue: #00246d;
  --color-gray: #e5e5e5;
  --color-red: #d91212;
  --color-green: #020202;
  --color-darkgreen: #0e720c;
  --color-darkblue: #011d55;
  background: var(--color-gray);
}
.navbar-nav {
  flex-flow: row nowrap;
}
.nav-item{
  padding-right: 10px;
}
.nav-item a{
  color:  var(--color-gray);
}
.nav-item a:hover{
  text-decoration: none;

}
.my-checkbox {
  input[type="checkbox"],
  input[type="checkbox"] + label .check svg,
  input[type="radio"],
  input[type="radio"] + label .check svg {
    display: none;
  }
  input[type="checkbox"]:checked + label .check,
  input[type="radio"]:checked + label .check {
    background: var(--color-blue);
    border-color: var(--color-blue);
  }
  input[type="checkbox"]:checked + label .check svg,
  input[type="radio"]:checked + label .check svg {
    display: block;
    stroke: #fff;
  }
  label {
    display: flex;
    align-items: center;
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(0, 0, 0, 0.7);
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
      border-radius: 2px;
      background: #fff;
      transition: all 0.3s;
      cursor: pointer;
      justify-content: center;
      margin-right: 5px;
    }
  }
}
#main {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
  // height: 100vh;
  .container {
    width: 95%;
    // min-height: calc(100vh - 30px);
    margin: auto;
    .dashblock {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 15px;
/*      width: 32%;*/
      max-height: 80vh;
      overflow: auto;
      position: relative;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        position: sticky;
        background: #fff;
        z-index: 9998;
        top: -15px;
        h2 {
          margin: 0;
        }
        svg {
          cursor: pointer;
        }
      }
      .filters {
        display: grid;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
        grid-template-columns: repeat(3, calc(33% - 5px));
        gap: 5px;
        @media screen and (max-width: 576px) {
          grid-template-columns: repeat(2, calc(50% - 5px));
        }
      }
      .btns {
        display: grid;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
        position: sticky;
        top: 10px;
        background: #fff;
        grid-template-columns: repeat(3, calc(33% - 5px));
        gap: 5px;
        @media screen and (max-width: 576px) {
          grid-template-columns: repeat(2, calc(50% - 5px));
        }
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // margin-bottom: 15px;
        // position: sticky;
        // top: 10px;
        // background: #fff;
        // &::after {
        //   content: "";
        //   width: 30%;
        // }
        .btn {
          padding: 5px 0px;
        }
      }
    }
    .grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      &::after {
        content: "";
        display: block;
        width: 30%;
      }
    }
  }
}
.btn {
  background: var(--color-blue);
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: var(--color-darkblue);
  }
}
.mx-datepicker {
  &.mx-datepicker-range {
    width: 100%;
  }
  input {
    width: 100%;
    max-width: 100%;
    color: #000;
    height: unset;
    background: #eaecef;
    border: 1px solid #eaecef;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    // padding: 10px 16px;
    height: 30px;
    transition: all 0.3s;
    box-shadow: none;

    &:hover {
      border: 1px solid #eaecef;
    }
    &::placeholder {
      opacity: 0.4;
    }
    // &:valid {
    //   border-color: var(--color-green);
    // }
    &:invalid {
      border-color: var(--color-red);
    }
    &:focus {
      border-color: var(--color-blue);
    }
    &:-webkit-autofill {
      background: #eaecef;
    }
  }
}
</style>

