<template>
  <section class="container">
    <div class="caption">
      <div class="left">
        <h1>Winfox Dashboard</h1>
      </div>
      <div class="right" v-click-outside="hide">
        <span :class="pocShow ? 'show' : ''" @click="pocShow = !pocShow"
          >Показатели
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </span>
        <vue-slide-up-down class="poc-items" :active="pocShow">
          <ul>
            <li>
              <Checkbox
                placeholder="Факт/План"
                boxId="plan"
                :checked="blockShow.plan"
                @change="showDashBoard($event, 'plan')"
              />
            </li>
            <li>
              <Checkbox
                placeholder="Задач поставлено/выполнено"
                boxId="tasks"
                :checked="blockShow.tasks"
                @change="showDashBoard($event, 'tasks')"
              />
            </li>
            <li>
              <Checkbox
                placeholder="Сотрудники"
                boxId="users"
                :checked="blockShow.users"
                @change="showDashBoard($event, 'users')"
              />
            </li>
            <li>
              <Checkbox
                placeholder="Комммиты"
                boxId="commits"
                :checked="blockShow.commits"
                @change="showDashBoard($event, 'commits')"
              />
            </li>
          </ul>
        </vue-slide-up-down>
      </div>
    </div>
    <div class="gallery__grid">
      <div class="gallery__grid-item"><div class="dashblock" v-if="blockShow.plan">
        <div class="top">
          <h2>Факт/План</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x"
            @click="blockShow.plan = false"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
        <div class="filters">
          <Select
            :items="filterNamePeriod"
            :select="filterNamePeriod[filter.projects.period.name]"
            @selected="setFilter($event, 'period', 'projects')"
          />
          <date-picker
            v-if="filter.projects.period.name == 4"
            lang="ru"
            v-model="dpLabel.projects"
            @change="setPeriod($event, 'projects')"
            type="date"
            value-type="timestamp"
            :format="momentFormat"
            :default-value="new Date()"
            :show-second="false"
            :minute-step="5"
            range
          ></date-picker>
        </div>
        <div class="btns">
          <button class="btn" @click="filterPlan('project')">
            по проектам
          </button>
          <button class="btn" @click="filterPlan('platform')">
            по платформам
          </button>
          <!-- <button class="btn">по людям</button> -->
        </div>
        <div class="data plan-fact">
          <div
            class="item"
            v-for="(p, ind) of projects"
            :key="ind"
            @click="goTo(p)"
          >
            <span class="name">{{ p.name }}</span>
            <span class="time"
            >{{ getTimeFromMins(p.estimation) }} /
                {{ getTimeFromMins(p.spent_time) }}</span
            >
          </div>
        </div>
      </div></div>
      <div class="gallery__grid-item">     <div class="dashblock" v-if="blockShow.tasks">
        <div class="top">
          <h2>Задач поставлено/выполнено</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x"
            @click="blockShow.tasks = false"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
        <div class="filters">
          <Select
            :items="filterNamePeriod"
            :select="filterNamePeriod[filter.tasks.period.name]"
            @selected="setFilter($event, 'period', 'tasks')"
          />
          <date-picker
            v-if="filter.tasks.period.name == 4"
            lang="ru"
            v-model="dpLabel.tasks"
            @change="setPeriod($event, 'tasks')"
            type="date"
            value-type="timestamp"
            :format="momentFormat"
            :default-value="new Date()"
            :show-second="false"
            :minute-step="5"
            range
          ></date-picker>
        </div>
        <div class="btns">
          <button class="btn" @click="filterTask('project')">
            по проектам
          </button>
          <button class="btn" @click="filterTask('platform')">
            по платформам
          </button>
          <!-- <button class="btn">по людям</button> -->
        </div>
        <div class="data plan-fact">
          <div class="item" v-for="(p, ind) of tasks" :key="ind">
            <span class="name">{{ p.name }}</span>
            <span class="time">{{ p.total }} / {{ p.complete }}</span>
          </div>
        </div>
      </div></div>
      <div class="gallery__grid-item">     <div class="dashblock" v-if="blockShow.users">
        <div class="top">
          <h2>Сотрудники</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x"
            @click="blockShow.users = false"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
        <div class="filters">
          <Select
            :items="filterNamePeriod"
            :select="filterNamePeriod[filter.users.period.name]"
            @selected="setFilter($event, 'period', 'users')"
          />
          <date-picker
            v-if="filter.users.period.name == 4"
            lang="ru"
            v-model="dpLabel.users"
            @change="setPeriod($event, 'users')"
            type="date"
            value-type="timestamp"
            :format="momentFormat"
            :default-value="new Date()"
            :show-second="false"
            :minute-step="5"
            range
          ></date-picker>
        </div>
        <div class="btns"></div>
        <div class="data plan-fact">

            <div class="refresh">
              <b-icon  v-if="!users" icon="arrow-clockwise" style="width: 120px; height: 120px; color: rgb(233 236 239)"></b-icon>
            </div>

          <div  class="item" v-for="(u, ind) of users" :key="ind">
            <span class="name">{{ ind }}</span>
            <span class="time"
            >{{ minToHourse(u.estimation) }}ч. /
                {{
                minToHourse(u.spent_time) + `ч. (${u.complete_task_count})`
              }}
                /
                {{ u.count_task + "к" + u.count_task_error }}
              </span>
          </div>
        </div>
      </div></div>
      <div class="gallery__grid-item">        <div class="dashblock" v-if="blockShow.commits">
        <div class="top">
          <h2>Последний коммит</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x"
            @click="blockShow.commits = false"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>

        <div class="btns">
          <button class="btn" @click="filterPlan('projectCommits')">
            по проектам
          </button>
          <button class="btn" @click="filterPlan('usersCommits')">
            по людям
          </button>
          <!-- <button class="btn">по людям</button> -->
        </div>
        <div class="data plan-fact">
          <div
            class="item"
            v-for="(p, ind) of commits"
            :key="ind"
            @click="goTo(p)"
          >
            <span class="name">{{ p.name }} </span>
            <span class="time"
            >{{getTimeFromTimeStamp( p.date )}} </span
            >
          </div>
        </div>
      </div></div>

    </div>

  </section>
</template>

<script>
import Checkbox from "~/components/myCheckbox.vue";
import Select from "~/components/mySelect.vue";
import ClickOutside from "vue-click-outside";
export default {
  components: {
    Checkbox,
    Select,
  },
  directives: {
    ClickOutside,
  },
  watch: {
    blockShow: {
      deep: true,
      handler(newValue, oldValue) {
        this.$cookies.set("blockShow", JSON.stringify(newValue), {
          path: "/",
          maxAge: this.$moment().unix() + 60 * 60 * 12,
        });
      },
    },
    filter: {
      deep: true,
      handler(newValue, oldValue) {
        this.$cookies.set("filter", JSON.stringify(newValue), {
          path: "/",
          maxAge: this.$moment().unix() + 60 * 60 * 12,
        });
        this.filterPlan();
      },
    },
  },
  data() {
    return {
      momentFormat: {
        // Date to String
        stringify: (date) => {
          return this.$moment(date).format("DD.MM.YYYY HH:mm");
        },
        // String to Date
        parse: (value) => {
          return value ? this.$moment(value, "LL HH:MM").toDate() : null;
        },
      },
      filterNamePeriod: {
        1: "месяц",
        2: "неделя",
        3: "квартал",
        4: "период",
      },

      pocShow: false,
      pFilterData: "project",
    };
  },
  methods: {
    setPeriod(e, block) {
      // this.$set(this.dpLabel,block,e)
      if (e.length == 2) {
        let unixFrom = e[0] / 1000,
          unixTo = e[1] / 1000;

        this.$set(this.filter[block].period, "name", 4);
        this.$set(this.filter[block].period, "value", [unixFrom, unixTo]);
        if (block == "users") {
          this.$axios({
            method: "post",
            url: "/api/users",
            data: this.filter.users,
            headers: {
              "content-type": "application/json",
            },
          }).then((r) => {
            this.$set(this, "users", r.data);
          });
        }
      }
    },
    setFilter(e, filter, block) {
      this.$set(this.filter[block][filter], "name", e);

      if (filter == "period") {
        let unixFrom = 0,
          unixtTo = 0;
        switch (parseInt(e)) {
          case 1: //месяц
            unixFrom = this.$moment().startOf("month").unix();
            unixtTo = this.$moment().endOf("month").unix();

            break;
          case 2: //неделя
            unixFrom = this.$moment().startOf("week").unix();
            unixtTo = this.$moment().endOf("week").unix();
            break;
          case 3: //Квартал
            unixFrom = this.$moment().add(-4, "month").startOf("month").unix();
            unixtTo = this.$moment().endOf("month").unix();
            break;
        }
        if (unixFrom !== 0 && unixtTo !== 0) {
          this.$set(this.filter[block][filter], "name", e);
          this.$set(this.filter[block][filter], "value", [unixFrom, unixtTo]);
        }
        if (block == "users") {
          this.$axios({
            method: "post",
            url: "/api/users",
            data: this.filter.users,
            headers: {
              "content-type": "application/json",
            },
          }).then((r) => {

            this.$set(this, "users", r.data);
          });
        }
      }
    },
    ratio(a, b) {
      return (Math.round((a * 100) / b) || 0) + ` (${a}/${b})`;
    },
    minToHourse(minutes) {
      return Math.trunc(minutes / 60);
    },
    goTo(proj) {

      if (this.pFilterData == "project") {
        window.open(
          `http://94.127.67.113:8070/issues?u=1&q=проект:%20${proj.short_name}%20`,
          "_blank"
        );
      }else if(this.pFilterData == "commits"){
          window.open(
            `${proj.href}`,
            "_blank"
          );
      } else {
        window.open(
          `http://94.127.67.113:8070/issues?u=1&q=проект:%20${proj.short_name}%20Подсистема:%20${proj.type}%20`,
          "_blank"
        );
      }
      // '94.127.67.113:8070/issues?u=1&q=проект:%20Dashboard%20'
    },
    filterPlan(type) {

      let url = "";
      if (!type) {
        type = this.pFilterData;
      }
      switch (type) {
        case "project":
          this.$set(this, "pFilterData", "project");
          url = "/api/plan_fact";
          break;
        case "platform":
          this.$set(this, "pFilterData", "platform");
          url = "/api/plan_fact_by_platform";
          break;
        case "projectCommits":
          this.$set(this, "pFilterData", "commits");
          url = "/api/commitsByProject";
          break;
        case "usersCommits":
          this.$set(this, "pFilterData", "commits");
          url = "/api/commitsByUser";
          break;
      }

      if (url.length > 0) {
        this.$axios({
          method: "post",
          data: this.filter.projects,
          url: url,
          headers: {
            "content-type": "application/json",
          },
        })
          .then((resp) => {
            let projects = resp.data;
            if(type === 'projectCommits' ||type === 'usersCommits'){
              this.$set(this, "commits", projects);
            }else{
              this.$set(this, "projects", projects);
            }
          })
          .catch((err) => {
            console.log(11111);

          });
      } else {
        alert("Ошибка URL");
      }
    },
    filterTask(type) {
      let url = "";
      switch (type) {
        case "project":
          url = "/api/tasks";
          break;
        case "platform":
          url = "/api/tasks_by_platform";
          break;
      }
      if (url.length > 0) {
        this.$axios({
          method: "post",
          url: url,
          headers: {
            "content-type": "application/json",
          },
        })
          .then((resp) => {
            let projects = resp.data;
            this.$set(this, "tasks", projects);
          })
          .catch((err) => {
            console.log(11111);

          });
      } else {
        alert("Ошибка URL");
      }
    },
    getTimeFromTimeStamp(date){
      let ts_hms = new Date(date);
      return   (ts_hms.getFullYear() + '-' +
        ("0" + (ts_hms.getMonth() + 1)).slice(-2) + '-' +
        ("0" + (ts_hms.getDate())).slice(-2) + ' ' +
        ("0" + ts_hms.getHours()).slice(-2) + ':' +
        ("0" + ts_hms.getMinutes()).slice(-2) + ':' +
        ("0" + ts_hms.getSeconds()).slice(-2))
    },
    getTimeFromMins(mins) {
      let days = Math.trunc(mins / 60 / 24);
      // let hours = Math.trunc(mins / 60);
      let hours = (mins / 60) % 24;
      let minutes = mins % 60;
      if (days > 0) {
        return days + "д. " + hours.toFixed(0) + "ч. " + minutes + "м.";
      } else {
        return hours.toFixed(0) + "ч. " + minutes + "м.";
      }
    },
    showDashBoard(value, block) {
      this.$set(this.blockShow, block, value);
      this.$cookies.set("blockShow", JSON.stringify(this.blockShow), {
        path: "/",
        maxAge: this.$moment().unix() + 60 * 60 * 12,
      });
    },
    hide() {
      this.$set(this, "pocShow", false);
    },
  },
  async asyncData(
    { redirect, $axios, query, store, params, $moment, res, app },
    callback
  ) {
    let projects = {},
      commits = {},
      tasks = {},
      users = {},
      filter = {
        projects: {
          period: {
            name: 1,
            value: [
              $moment().startOf("month").unix(),
              $moment().endOf("month").unix(),
            ],
          },
        },
        commits: {
          period: {
            name: 1,
            value: [
              $moment().startOf("month").unix(),
              $moment().endOf("month").unix(),
            ],
          },
        },
        tasks: {
          period: {
            name: 1,
            value: [
              $moment().startOf("month").unix(),
              $moment().endOf("month").unix(),
            ],
          },
        },
        users: {
          period: {
            name: 1,
            value: [
              $moment().startOf("month").unix(),
              $moment().endOf("month").unix(),
            ],
          },
        },
      },
      blockShow = {
        plan: true,
        error: true,
        time: true,
        tasks: true,
        users: true,
        commits: true,
      },
      dpLabel = {
        projects: [],
        commits: [],
        tasks: [],
        users: [],
      };
    if (app.$cookies.get("blockShow")) {
      blockShow = app.$cookies.get("blockShow");
    }
    if (app.$cookies.get("filter")) {
      filter = app.$cookies.get("filter");
      if (filter.projects.period.name == 4) {
        dpLabel.projects = [
          filter.projects.period.value[0] * 1000,
          filter.projects.period.value[1] * 1000,
        ];
      }
      if (filter.users.period.name == 4) {
        dpLabel.users = [
          filter.users.period.value[0] * 1000,
          filter.users.period.value[1] * 1000,
        ];
      }
      if (filter.tasks.period.name == 4) {
        dpLabel.tasks = [
          filter.tasks.period.value[0] * 1000,
          filter.tasks.period.value[1] * 1000,
        ];
      }
    }
    await Promise.all([
      $axios({
        method: "post",
        url: "/api/plan_fact",
        data: filter.projects,
        headers: {
          "content-type": "application/json",
        },
      }).catch((err) => {
        console.log(1);

      }),
      $axios({
        method: "post",
        url: "/api/tasks",
        data: filter.tasks,
        headers: {
          "content-type": "application/json",
        },
      }).catch((err) => {
        console.log(2);

      }),
      $axios({
        method: "post",
        url: "/api/users",
        data: filter.users,
        headers: {
          "content-type": "application/json",
        },
      }).catch((err) => {
        console.log(3);

      }),
      $axios({
        method: "post",
        url: "/api/commitsByProject",
        data: filter.commits,
        headers: {
          "content-type": "application/json",
        },
      }).catch((err) => {
        console.log(3);

      }),
    ]).then(([planFact, TasksL, userL,commitsL]) => {


      projects = planFact.data;
      commits = commitsL.data;
      tasks = TasksL.data;
      users = userL.data;

      if(!userL.data.length){
        console.log('empty')
      }else {
        console.log('not empty')
      }

    });
    callback(null, { projects,commits, blockShow, tasks, users, filter, dpLabel });
    // await $axios({
    //   method: "get",
    //   url: "/api/plan_fact",
    //   headers: {
    //     "content-type": "application/json",
    //   },
    // })
    //   .then((resp) => {})
    //   .catch((err) => {
    //     callback(null, { projects, blockShow });
    //   });
  },
};
</script>

<style lang="scss" scoped>
.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 576px) {
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-end;
  }
  .left {
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .right {
    width: 230px;
    position: relative;

    span {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      width: 100%;

      * {
        transition: all 0.3s;
      }
      &.show {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    .poc-items {
      position: absolute;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 9999;
      width: 100%;
      right: 0;
      padding: 0px 10px;

      ul {
        padding-left: 0;
        list-style: none;
        li {
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
.plan-fact {
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    padding: 5px 0px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    .name {
      font-weight: bold;
    }
  }
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
}

.gallery__grid-item {

/*  grid-row: span 24;*/
  margin-bottom: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.gallery__grid-item:nth-child(2) {
  grid-row: span 27;
}

.gallery__grid-item:nth-last-child(2),
.gallery__grid-item:nth-last-child(3) {
  margin-bottom: 0;
}
.refresh{
text-align: center;margin-bottom: 40px;
}
</style>

