<template lang="html" >
  <div class="dashblock">
    <div>

      <b-nav tabs align="center" >
        <b-nav-item   :active="tab === item.id" @click="doSomething(item)" v-for="item in routes" :key="item.id" :to="item.path">{{ item.label }}</b-nav-item>
      </b-nav>
    </div>
    <vue-excel-editor v-if="matrix" v-model="matrix" :no-footer="true" :no-num-col="true" >
      <vue-excel-column field="user" label="Сотрудник" type="string" width="240px" :readonly="true"/>
      <vue-excel-column
        textAlign="center"
        :key="column.id"
        v-for="column in columns"
        :field="column"
        :label="column"
        :change="onBeforeChange"
        :validate="validNum"

      />

    </vue-excel-editor>

    <b-container class="bv-example-row legend-matrix" v-if="matrix">
      <b-row>
        <b-col sm="4">
          <b-table
            class="legend"
            borderless="borderless"
            outlined="outlined"
            small="small"
            hover="hover"
            fixed="fixed"
            :fields="fields"
            :items="this.status"
          >
            <template #cell(color)="data">
              <div  class="legend-item" :class="data.item.color">
              </div>

            </template>
          </b-table>
        </b-col>
      </b-row>

    </b-container>

  </div>
</template>
<script>

export default {

  data() {

    return {
      tab:1,
      routes:[{
        id:1,
        label:'iOS разработка'
      },
        {
          id:2,
          label:'Android'
        },
        {
          id:3,
          label:'Серверная разработка'
        }, {
          id:4,
          label:'Web-разработка'
        }

      ],
      active:true,
      matrix: null,
      columns:null,
      status: [
        { name: "Знаем, читали", type: "1"},
        { name: "Пробовали в рамках самообразования", type: "2"},
        { name: "Немного использовали в проектах", type: "3"},
        { name: "Активно использовали в коммерческих проектах, знаем тонкости", type: "4"},
        { name: "Да я это написал(а)!", type: "5"},
      ],
      fields: [
        {
          key: 'name',
          sortable: false,
          label: '',
        },
        {
          key: 'type',
          sortable: false,
          label: '',
        },
      ],
    };
  },
  mounted() {
    this.fetchSkills()
  },
  methods: {
    doSomething(item) {
      this.tab = item.id
      this.fetchSkills()
      this.matrix=[]
      this.$forceUpdate()
    },
    validNum (content, oldContent, record, field) {
      if (content === '') return ''
      if (!/^[0-5]{1}$/.test(content)) return 'Значения от 0 до 5'
      return '' // return empty string if there is no error
    },
    onBeforeChange (newVal, oldVal, row,field) {


      let data = row;
      const valueEmpty = {[field.label]: newVal}
      Object.assign(data, valueEmpty);

     // console.log(data)


           return new Promise((done) => {
             this.$axios.post('/api/skills/matrix-save', {
                data: data
              })
                .then(done(true))
                .catch((e) => {
                  console.error(e)
                  done(false)
                })
            })
    },

    fetchSkills() {

      this.$axios({
        method: "get",
        url: "/api/skills/matrix-column",
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {

        this.columns = r.data.data

        this.$axios.post('/api/skills/matrix', {
          category_id: this.tab
        }).then((r) => {
          this.matrix = r.data.data

          console.log(this.$el)

        })


      })


    },


  }
};
</script>

<style lang="css">
.b-table-sticky-column {
  position: sticky!important;
  left: 0!important;
  width: 200px!important;
}

.dashblock {
  background: #fff!important;
  padding: 15px!important;

}

.vue-excel-editor .center-text {
  display: none!important;
}

.vue-excel-editor td:nth-child(0),
.vue-excel-editor td:nth-child(2),
.vue-excel-editor th:nth-child(2) {
  position: sticky;
  left: 0;
  height: 30px;

  background-color: #ECFFEB !important;
  line-height: 20px;

}

.vue-excel-editor tr:nth-child(1) > td {
  font-weight: bold;
  font-size: 12px !important;

}
.legend-matrix{
  margin-left: -15px!important;
  margin-top: 20px!important;
}
.legend-matrix .border{
  border: none!important;
  font-size: 12px;
}
.legend-matrix .nav-tabs {
   border-bottom: none;
}


</style>
