<template lang="html">
  <div  class="dashblock">



    <div class="vue-time-slot-container">
      <div class="vue-time-slot-table-row-header">

        <b-table striped hover
                 :items="users"
                 :fields="fields"
                 select-mode="single"
                 selectable
                 @row-clicked="onRowSelected"
                 sort-by="id"
        ></b-table>
        <p>
          <button type="button" @click="createUser" class="btn btn-secondary btn-sm">Добавить</button>
        </p>


      </div>

    </div>

    <b-modal id="modal-scoped" hide-footer hide-header>

      <template #default="{ hide }">
        <b-container fluid>
          <b-form @submit="onSubmit">
            <b-row class="mb-1">
              <b-col cols="3" class="label">Название:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.name"
                  required
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3" class="label">Тип:</b-col>
              <b-col>
                <b-form-select  v-model="form.knowledge_id" :options="options"
                                value-field="id"
                                text-field="name"
                ></b-form-select>
              </b-col>

            </b-row>

            <br>
            <b-row class="mt-10">
              <b-col cols="3" offset="3">
                <b-button type="submit" variant="primary">Сохранить</b-button>
              </b-col>
              <b-col cols="3">
                <b-button type="button" v-on:click="userInRemove()" variant="primary">Удалить</b-button>
              </b-col>

            </b-row>


          </b-form>

        </b-container>

      </template>

    </b-modal>


  </div>
</template>
<script>
export default {
  data() {
    return {
      momentFormat: {
        // Date to String
        stringify: (date) => {
          return this.$moment(date).format("DD.MM.YYYY");
        },

      },
      url:'',
      users: [],
      options: [
        {
          id: '1', name:"iOS разработка",
        },
        {
          id: '2', name:"Android",
        },
        {
          id: '3', name:"Серверная разработка",
        },
        {
          id: '4', name:"Web-разработка"
        },
      ],
      form: {
        name: '',
        knowledge_id:1,
      },
      fields: [
        {
          key: 'id',
          sortable: false,
          label: '#',
        },
        {
          key: 'name',
          sortable: false,
          label: 'Название',
        },
        {
          key: 'knowledge.name',
          sortable: false,
          label: 'Тип',
        },

      ],


    };
  },
  mounted() {
    this.fetchSkills()
  },
  methods: {
    userInRemove(){
      this.form =  {
        id: this.form.id,
      },
      this.$axios({
        method: "post",
        url: "/api/skills/remove",
        data: JSON.stringify(this.form),
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {

        this.$bvModal.hide('modal-scoped')
        this.fetchSkills()

      }).catch((err) => {
        console.log(err);
      })

    },
    createUser(){
      this.form =  {
          name: '',
          knowledge_id:1,

      },
      this.url = '/api/skills/create'
      this.$bvModal.show('modal-scoped')
    },
    onSubmit(event) {

      event.preventDefault()
      this.$axios({
        method: "post",
        url: this.url,
        data: JSON.stringify(this.form),
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {
        this.$bvModal.hide('modal-scoped')
        this.fetchSkills()

      }).catch((err) => {
        console.log(err);
      })

    },
    onRowSelected(i,index, event) {

      if (i) {
        this.form.id = i.id
        this.form.name = i.name
        this.form.knowledge_id = i.knowledge_id
        this.url = '/api/skills/update'
        this.$bvModal.show('modal-scoped')
      }

    },
    fetchSkills() {

      this.$axios({
        method: "get",
        url: "/api/skills",
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {


        let arr = []
        for (var i = 0; i <  r.data.result.length; i++) {
          arr[r.data.result[i].id] =  r.data.result[i]
        }

        this.users = arr
      })
    },


  }
};
</script>

<style lang="css">
.vue-time-slot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px
}


.vue-time-slot-table-row-header {
  display: flex;
  flex-direction: column;

}

.modal-backdrop {
  background-color: transparent;
}

.modal-content {
  margin-top: 30%;
}

.modal-body {
  background-color: #cccccc;
}

.label{
  font-size: 12px;
}
.dashblock {
  background: #fff;
  padding: 15px;

}

</style>
