<template lang="html">
  <div if="users">

    <div class="vue-time-slot-container">
      <div class="vue-time-slot-table-row-header">
        <span class="vue-time-slot-column-header">Сотрудник</span>
        <span class="vue-time-slot-row-header" v-for="(value) in users" :key="value.id">
          {{ value.fio }}
        </span>
      </div>
      <div class="vue-time-slot-calendar-table">
        <div class="vue-time-slot-day-header" v-for="day in dayIndex" :key="day.label">
          <span class="vue-time-slot-column-header">{{ day.label }}</span>

          <span
            class="vue-time-slot-cell"
            :class="isActive(value.id,day.value)"
            v-for="(value) in users" :key="value.id"
            v-on:click="slot($event, value,day.value, 'am', day)"
            v-b-popover.hover="isTime(value.id,day.value)"
          >
          </span>

        </div>
      </div>


    </div>

    <b-container class="bv-example-row">
      <b-row>
        <b-col sm="4">
          <b-table
            class="legend"
            borderless="borderless"
            outlined="outlined"
            small="small"
            hover="hover"
            fixed="fixed"
            :fields="fields"
            :items="this.status_timesheet"
          >
            <template #cell(color)="data">
              <div  class="legend-item" :class="data.item.color">
              </div>

            </template>
          </b-table>
        </b-col>
      </b-row>

    </b-container>


    <b-modal id="modal-scoped" v-if="status_timesheet" hide-footer hide-header>

      <template #default="{ hide }">
        <b-container fluid>
          <b-form @submit="onSubmit">
            <b-row class="mb-1">
              <b-col cols="3">Дата:</b-col>
              <b-col>{{ checkedDate() }}</b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3">Статус</b-col>
              <b-col>
                <b-form-select
                  v-on:change="getSelectedItem"
                  v-model="form.timesheet_id"
                  :options="status_timesheet"
                  value-field="id"
                  text-field="name"
                ></b-form-select>
                <b-form-input
                  hidden
                  id="input-2"
                  v-model="form.user_id"
                  placeholder="Enter name"
                  required
                ></b-form-input>
                <b-form-input
                  hidden
                  id="input-2"
                  v-model="form.timestmap"
                  placeholder="Enter name"
                  required
                ></b-form-input>

              </b-col>

            </b-row>
            <b-row class="mb-1" v-if="showCalendar">
              <b-col cols="3">Выбор дней</b-col>
              <b-col cols="12">

                <div class="vue-time-slot-container">
                  <div class="vue-time-slot-table-row-header">
                    <span class="vue-time-slot-row-header" v-for="(value) in users" :key="value.id">

        </span>
                  </div>
                  <div class="vue-time-slot-calendar-table" id="vue-time-slot-calendar-table">
                    <div class="vue-time-slot-day-header" v-for="day in dayIndex" :key="day.label">
                      <span class="vue-time-slot-column-header">{{ day.label }}</span>

                      <span
                        class="vue-time-slot-cell"
                        v-on:click="slotInCalendar($event, form.user_id,day.value, 'am', day)"
                      >
          </span>

                    </div>
                  </div>


                </div>
              </b-col>
            </b-row>

            <b-row class="mb-1" v-if="showTime">
              <b-col cols="3">Выбор часов</b-col>
              <b-col cols="12">

                <div class="vue-time-slot-container">
                  <div class="vue-time-slot-table-row-header">
                    <span class="vue-time-slot-row-header" v-for="(value) in users" :key="value.id">

        </span>
                  </div>
                  <div class="vue-time-slot-calendar-table" >
                    <div class="vue-time-slot-day-header" v-for="time in timeIndex" :key="time">
                      <span class="vue-time-slot-column-header">{{ time }}</span>

                      <span
                        class="vue-time-slot-cell"
                        v-on:click="slotInTime($event, form.user_id,time,)"
                      >
          </span>

                    </div>
                  </div>


                </div>
              </b-col>
            </b-row>

            <b-row class="mb-1">
              <b-col cols="3">
                <b-button type="submit" variant="primary">Сохранить</b-button>
              </b-col>
              <b-col cols="3">
                <b-button  v-on:click="slotInRemove()" type="button" variant="success">Удалить</b-button>
              </b-col>
            </b-row>

          </b-form>

        </b-container>

      </template>

    </b-modal>


  </div>
</template>

<script>
export default {
  watch: {},
  data() {
    return {
      fields: [
        {
          key: 'name',
          sortable: false,
          label: '',
        },
        {
          key: 'color',
          sortable: false,
          label: '',
        },
      ],
      form: {
        timesheet_id: 1,
        user_id: '',
        timestmap: '',
        rangeDate: new Map(),
        rangeTime: new Map()

      },
      index: 0,
      users: [],
      min: 60,
      dayIndex: [],
      timeIndex: ['8:00','9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00'],
      dateIndex: -10,
      active: '',
      timesheet: [],
      status_timesheet: [],
      showCalendar: true,
      showTime: false,
      currentDate: null,
      target: null,

    };
  },
  mounted() {
    let date = new Date();
    date = new Date(date.getFullYear(), date.getMonth(), 1);

    this.formatDate(date, "long"),

      this.fetchUser()

    for (var index = 0; index < this.min; index++) {
      this.dayIndex.push(
        this.formatDate(this.nextDate(this.dateIndex), "short")
      );
      this.dateIndex++;
    }


  },

  methods: {
    checkedDate() {
      let date = this.formatDate(this.currentDate)
      date = date.label

      return date

    },
    getSelectedItem: function () {
      if (this.form.timesheet_id !== 5) {
        this.showTime = false;
        this.showCalendar = true;
      } else {
        this.showCalendar = false;
        this.showTime = true;
      }
    },
    onSubmit(event) {
      event.preventDefault()
      if (this.form.rangeDate.size > 0) {
        this.form.rangeDate = JSON.stringify(Array.from(this.form.rangeDate.entries()));
      } else {
        this.form.rangeDate = JSON.stringify([]);
      }

      if (this.form.rangeTime.size > 0) {
        this.form.rangeTime = JSON.stringify(Array.from(this.form.rangeTime.entries()));
      } else {
        this.form.rangeTime = JSON.stringify([]);
      }

      this.$axios({
        method: "post",
        url: "/api/timesheet/create",
        data: JSON.stringify(this.form),
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {
        this.$bvModal.hide('modal-scoped')
        let color = this.status_timesheet.filter(x => x.id === this.form.timesheet_id).map(x => x.color)
        this.target.target.className = ''
        this.target.target.classList.add('vue-time-slot-cell')
        this.target.target.classList.add(color)

        this.form.rangeDate = new Map()
        this.form.rangeTime = new Map()
        this.fetchUser()

      }).catch((err) => {
        console.log(err);
      })
    },
    slotInRemove(){


            this.form.rangeDate = JSON.stringify([]);
            this.form.rangeTime = JSON.stringify([]);

            this.$axios({
              method: "post",
              url: "/api/timesheet/remove",
              data: JSON.stringify(this.form),
              headers: {
                "content-type": "application/json",
              },
            }).then((r) => {

              this.$bvModal.hide('modal-scoped')
              let color ='vue-time-slot-cell'
              this.target.target.className = ''
              this.target.target.classList.add(color)

              this.form =  {
                timesheet_id: 1,
                  user_id: '',
                  timestmap: '',
                  rangeDate: new Map(),
                  rangeTime: new Map()

              }

            }).catch((err) => {
              console.log(err);
            })

    },
    isName(user, date) {
      let timeStamp_date_one = this.isTimeStamp(date)
      if (this.timesheet.size > 0) {
        let key = timeStamp_date_one + user;
        if (this.timesheet.get(key)) {
          let name = this.timesheet.get(key).timesheet_status.name;
          return name
        }
      }
    },

    isActive(user, date) {
      if (([0, 6].indexOf(date.getDay()) != -1) == true) {
        return 'weekend'
      }

      let timeStamp_date_one = this.isTimeStamp(date)

      if (this.timesheet.size > 0) {
        let key = timeStamp_date_one + user
        if (this.timesheet.get(key)) {
          let color = this.timesheet.get(key).timesheet_status.color;
          return 'active ' + color
        }
      }

    },
    isTime(user, date) {

      let timeStamp_date_one = this.isTimeStamp(date)

      if (this.timesheet.size > 0) {
        let key = timeStamp_date_one + user
        if (this.timesheet.get(key)) {
          let time = this.timesheet.get(key).timeRange

         if (time != null  && time.length > 0) {
            return time.join(", ")
          }
        }
      }


      return  false
    },
    isTimeStamp(value) {
      return new Date(value).getTime().toString();

    },
    fetchUser() {

      this.$axios({
        method: "get",
        url: "/users",
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {
        this.users = r.data.result

        this.$axios({
          method: "get",
          url: "/api/timesheet",
          headers: {
            "content-type": "application/json",
          },
        }).then((r) => {

          let arr = new Map()
          for (var i = 0; i < r.data.result.length; i++) {
            arr.set(r.data.result[i].timestmap + r.data.result[i].user_id, r.data.result[i])
          }
          this.timesheet = arr
            console.log(this.timesheet);
        });


        this.$axios({
          method: "get",
          url: "/api/timesheet/status",
          headers: {
            "content-type": "application/json",
          },
        }).then((r) => {
          this.status_timesheet = r.data.result

          let arr = new Set();
          for (var i = 0; i < r.data.result.length; i++) {
            arr.add({
              'id': r.data.result[i].id,
              'name': r.data.result[i].name,
              'color': r.data.result[i].color
            })
          }
          this.status_timesheet = [...arr]
        });
      })
    },
    formatDate(date, type) {

      let monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      let monthNumber = new Array();
      monthNumber[0] = "01";
      monthNumber[1] = "02";
      monthNumber[2] = "03";
      monthNumber[3] = "04";
      monthNumber[4] = "05";
      monthNumber[5] = "06";
      monthNumber[6] = "07";
      monthNumber[7] = "08";
      monthNumber[8] = "09";
      monthNumber[9] = "10";
      monthNumber[10] = "11";
      monthNumber[11] = "12";

      var day = date.getDate();
      var monthIndex = date.getMonth();
      var year = date.getFullYear();

      let month =
        type == "short"
          ? monthNames[monthIndex].slice(0, 3)
          : monthNames[monthIndex];

      return {
        label: day + "." + monthNumber[monthIndex] + " ",
        value: new Date(date.getFullYear(), date.getMonth(), date.getDate())
      };
    },
    addDate() {
      this.dayIndex.push(
        this.formatDate(this.nextDate(this.dateIndex), "short")
      );
      this.dateIndex++;
    },
    nextDate(index) {
      return new Date(new Date().getTime() + index * 24 * 60 * 60 * 1000);
    },
    slot(event, value, date, type, day) {
      this.currentDate = date
      this.form.timestmap = this.isTimeStamp(date)
      this.form.user_id = value.id
      this.$bvModal.show('modal-scoped')
      this.target = event


    },
    slotInCalendar(event, user_id, date) {

      if (this.form.rangeDate.size > 0) {

      }
      let timeStamp_date_one = this.isTimeStamp(date)
      let key = timeStamp_date_one
      if (this.form.rangeDate.has(key)) {
        this.form.rangeDate.delete(key)
      } else {
        this.form.rangeDate.set(key, key)
      }

      this.form.user_id = user_id
      event.target.classList.toggle("vue-time-slot-active-cell");


    },
    slotInTime(event, user_id,time) {

      let key = time

      if (this.form.rangeTime.has(key)) {
        this.form.rangeTime.delete(key)
      } else {
        this.form.rangeTime.set(key, key)
      }
      this.form.user_id = user_id
      this.target = event

      event.target.classList.toggle("vue-time-slot-active-cell");


    },


  }
};
</script>

<style lang="css">
.vue-time-slot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px
}

.vue-time-slot-row-header {
  border: none !important;
  text-align: left;
  cursor: pointer;
  background-color: #ccc;
  font-size: 12px;
  padding: 7px;
  color: #000;
  width: 100%;
  height: 100%;
}

.vue-time-slot-column-header {
  border: none !important;
  text-align: center;
  cursor: pointer;
  background-color: #ccc;
  font-size: 12px;
  padding: 5px 0;
  color: #000;
}

.vue-time-slot-cell {
  padding: 17px;
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 0 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
}

.active {
  background-color: #ffc8c9;
}

.vue-time-slot-cell:last-child {
  border-width: 1px 1px 1px 0;
}

.vue-time-slot-cell:hover {
  background-color: #ffdbdb;
}

.vue-time-slot-active-cell {
  background-color: #ffc8c9;
  color: #fff;
}

.vue-time-slot-active-cell:hover {
  background-color: #ffc8c9;
}

.vue-time-slot-table-row-header {
  display: flex;
  flex-direction: column;

}

.vue-time-slot-day-header {
  display: flex;
  flex-direction: column;

}

.vue-time-slot-calendar-table {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.vue-time-slot-calendar-table .vue-time-slot-day-header:first-child {
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 0 1px;
}

.arrow-block {
  font-size: 25px;
  font-weight: bolder;
  color: #dca7a8;
  cursor: pointer;
  margin: -10px 15px;
}

.weekend {
  background-color: #ffeced;
}

.orange {
  background-color: #fff1d9 !important;
}

.green {
  background-color: #ecffec !important;
}

.yellow {
  background-color: #ffffc4 !important;
}

.blue {
  background-color: #e4e4ff !important;
}

.violet {
  background-color: #ffe1ff !important;
}

.white {
  background-color: white !important;
}

.gray {
  background-color: #dddbdb !important;
}

.legend {
  font-size: 12px
}

.legend-item {
  width: 30px;
  height: 30px;
}

.modal-backdrop {
  background-color: transparent;
}

.modal-content {
  margin-top: 30%;
}

.modal-body {
  background-color: #cccccc;
}

</style>
