<template lang="html">
  <div if="users" class="dashblock">

    <div class="vue-time-slot-container">
      <div class="vue-time-slot-table-row-header">
        <b-table striped hover
                 :items="users"
                 :fields="fields"
                 select-mode="single"
                 selectable
                 @row-clicked="onRowSelected"
                 sort-by="id"
        ></b-table>
        <p>
          <button type="button" @click="createUser" class="btn btn-secondary btn-sm">Добавить</button>
        </p>


      </div>

    </div>

    <b-modal id="modal-scoped" hide-footer hide-header>

      <template #default="{ hide }">
        <b-container fluid>
          <b-form @submit="onSubmit">
            <b-row class="mb-1">
              <b-col cols="3" class="label">ФИО:</b-col>
              <b-col>
                <b-form-input

                  v-model="form.fio"
                  required
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3" class="label">Email:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.email"
                  type="email"

                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3" class="label">Телефон:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.phone"

                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1" >
              <b-col cols="3" class="label">Поизиция:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.position"

                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3" class="label">День рождения:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.birthday"
                  placeholder="00-00-0000"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3" class="label">Логин Bitbucket:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.bitbucket_login"

                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col cols="3" class="label">Телеграмм:</b-col>
              <b-col>
                <b-form-input
                  v-model="form.telegram"

                ></b-form-input>
              </b-col>
            </b-row>

            <br>
            <b-row class="mt-10">
              <b-col cols="3" offset="3">
                <b-button type="submit" variant="primary">Сохранить</b-button>
              </b-col>
              <b-col cols="3">
                <b-button type="button" v-on:click="userInRemove()" variant="primary">Удалить</b-button>
              </b-col>

            </b-row>


          </b-form>

        </b-container>

      </template>

    </b-modal>


  </div>
</template>
<script>
export default {
  data() {
    return {
      momentFormat: {
        // Date to String
        stringify: (date) => {
          return this.$moment(date).format("DD.MM.YYYY");
        },

      },
      url:'',
      users: [],
      form: {
        fio: '',
        email: '',
        phone: '',
        position: '',
        birthday: '',
        bitbucket_login:'',
        telegram: '',

      },
      fields: [
        {
          key: 'id',
          sortable: false,
          label: '#',
        },
        {
          key: 'fio',
          sortable: false,
          label: 'ФИО',
        },
        {
          key: 'phone',
          sortable: false,
          label: 'Телефон',
        },
        {
          key: 'birthday',
          sortable: false,
          label: 'Дата рождения',
        },
        {
          key: 'email',
          sortable: false,
          label: 'Почта',
        },
        {
          key: 'position',
          sortable: false,
          label: 'Должность',
        },
        {
          key: 'bitbucket_login',
          sortable: false,
          label: 'Bitbucket',
        },
        {
          key: 'telegram',
          sortable: false,
          label: 'Telegram',
        },
      ],


    };
  },
  mounted() {
    this.fetchUser()
  },
  methods: {
    userInRemove(){
      this.form =  {
        id: this.form.id,
      },
      this.$axios({
        method: "post",
        url: "/api/user/delete",
        data: JSON.stringify(this.form),
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {

        this.$bvModal.hide('modal-scoped')
        this.fetchUser()

      }).catch((err) => {
        console.log(err);
      })

    },
    createUser(){
      this.form =  {
        fio: '',
          email: '',
          phone: '',
          position: '',
          birthday: '',
          bitbucket_login:'',
          telegram:''

      },
      this.url = '/api/user/create'
      this.$bvModal.show('modal-scoped')
    },
    onSubmit(event) {

      event.preventDefault()
      this.$axios({
        method: "post",
        url: this.url,
        data: JSON.stringify(this.form),
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {
        this.$bvModal.hide('modal-scoped')
        this.fetchUser()

      }).catch((err) => {
        console.log(err);
      })

    },
    onRowSelected(i,index, event) {


      if (i) {
        this.form.id = i.id
        this.form.fio = i.fio
        this.form.email = i.email?i.email:''
        this.form.phone = i.phone?i.phone:''
        this.form.position = i.position? i.position:''
        this.form.birthday = i.birthday?i.birthday:''
        this.form.bitbucket_login = i.bitbucket_login?i.bitbucket_login:''
        this.form.telegram = i.telegram?i.telegram:''
        this.url = '/api/user/update'
        this.$bvModal.show('modal-scoped')
      }

    },
    fetchUser() {

      this.$axios({
        method: "get",
        url: "/api/user",
        headers: {
          "content-type": "application/json",
        },
      }).then((r) => {


        let arr = []
        for (var i = 0; i <  r.data.result.length; i++) {
          arr[r.data.result[i].id] =  r.data.result[i]
        }

        this.users = arr
      })
    },


  }
};
</script>

<style lang="css">
.vue-time-slot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px
}


.vue-time-slot-table-row-header {
  display: flex;
  flex-direction: column;

}

.modal-backdrop {
  background-color: transparent;
}

.modal-content {
  margin-top: 30%;
}

.modal-body {
  background-color: #cccccc;
}

.label{
  font-size: 12px;
}
.dashblock {
  background: #fff;
  padding: 15px;

}

</style>
